doctype html
html
  head
    title Super Dance Acedemy 
    block scripts
    block style 
  body
     nav#navbar
        ul
           div#logo
              img(src="/static/img/logo.png")
              | SDA 
           li #[a(href="/") Home] 
           li #[a(href="/") About] 
           li #[a(href="/") Service] 
           li #[a(href="/") Class Info] 
           li #[a(href="/contact") Contact Us] 

  block content
  footer#footer  
         | Copyright © 2022 SuperDanceAcedemy.com | All Rights Reserved